---
import Navigation from '../components/navigation.astro';

export interface Properties {
  date: string;
  imageSrc?: string;
  title: string;
  url: string;
}

const ORIGIN = 'https://you-must-hear.web.app';

const { date, imageSrc, title, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta content={title} name="title" />
    <meta
      content="100 albums you must hear before you die"
      name="description"
    />

    <meta content="website" property="og:type" />
    <meta content={new URL(url, ORIGIN)} property="og:url" />
    <meta content={title} property="og:title" />
    <meta
      content="100 albums you must hear before you die"
      property="og:description"
    />
    <meta content="summary_large_image" property="twitter:card" />
    <meta content={new URL(url, ORIGIN)} property="twitter:url" />
    <meta content={title} property="twitter:title" />
    <meta
      content="100 albums you must hear before you die"
      property="twitter:description"
    />
    {imageSrc && <meta content={imageSrc} property="twitter:image" />}
    {imageSrc && <meta content={imageSrc} property="og:image" />}
    {date && <meta content={date} http-equiv="date" />}
    {date && <meta content={date} http-equiv="last-modified" />}<link
      rel="stylesheet"
      href="https://nordcdn.net/ds/css/3.1.0/nord.min.css"
      integrity="sha384-+vS/TIHe79BcW02M3g4ZgYIw64iHDRgJ1cUofcVIvh7MWg8J9aarfGkjepw6MZhV"
      crossorigin="anonymous"
    />
    <script>
      import initAnalytics from '../services/firebase';
      initAnalytics();
    </script>
  </head>
  <body>
    <Navigation />
    <section class="section">
      <div class="container">
        <div class="hero is-primary">
          <div class="hero-body"><h1 class="title">{title}</h1></div>
        </div>
        <slot />
      </div>
    </section>
  </body>
</html>
<style>
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw 1vh;
  }
</style>
<style is:global>
  @import 'bulma/css/bulma.css';
  .is-disabled {
    pointer-events: none;
  }
  .modal-card-head {
    overflow-x: auto;
  }
  .album-table-row {
    cursor: pointer;
  }
  .aa-Panel {
    z-index: 30;
  }
  .search-prompt {
    margin-right: 1rem;
  }
  .aa-Autocomplete {
    --aa-search-input-height: 34px;
  }
  .autocomplete-wrapper {
    min-width: 224px;
  }
  .sort-trigger svg {
    visibility: hidden;
  }
  .sort-trigger.active svg {
    visibility: visible;
  }
  .sort-trigger.reverse svg {
    transform: rotate(180deg);
  }
</style>
