---
import type { Album } from '../types';
import ALBUMS_SORT_KEYS from '../utils/albums-sort-keys';
import formatAlbum from '../utils/format-album';
import getNextId from '../utils/get-next-id'

export interface Props {
  album: Album;
  place: number;
}
const { album, place } = Astro.props;
const trId = getNextId();
---

<albums-table-row data-data={JSON.stringify(album)} data-tr-id={trId}>
  <tr
    class={'album-table-row'}
    data-album={ALBUMS_SORT_KEYS.album(Astro.props)}
    data-date={ALBUMS_SORT_KEYS.date(Astro.props)}
    data-place={ALBUMS_SORT_KEYS.place(Astro.props)}
    id={trId}
  >
    <td>{place}</td>
    <td>{formatAlbum(album, false)}</td>
    <td>{album.date && <time datetime={album.date}>{album.date}</time>}</td>
    <td>
      {
        album.thumbnail && (
          <figure class="image is-32x32">
            <img class="is-rounded" src={album.thumbnail} />
          </figure>
        )
      }
    </td>
  </tr>
</albums-table-row>
<script src="./albums-table-row.ts"></script>
